Repository TheoChem-VU/TCutility, pull requests merged in 2024-07, with the labels that each got.

#282 Added missing characters in `report.character`
  src/tcutility/__init__.py
  src/tcutility/report/_char_widths.txt
  src/tcutility/report/_generate_font_widths.py
Labels: bug, tcutility.report

#285 Fixed an issue where the `report.character` module was not importable
  src/tcutility/report/__init__.py
Labels: bug, tcutility.report

#286 Fixed an issue where reading ORCA calculations would crash the program
  src/tcutility/results/__init__.py
  src/tcutility/results/orca.py
Labels: bug, tcutility.results

#274 Python API for IRC concatenation
  recipes/job/conformer_search.py
  recipes/job/preoptimize.py
  src/tcutility/analysis/task_specific/irc.py
  src/tcutility/cli_scripts/concatenate_irc.py
  src/tcutility/molecule.py
  test/test_concatenate_irc.py
Labels: tcutility.analysis
